<h2>User inf</h2>
<table class="table"></table>
  <tbody>
    <tr></tr>
    <tr>
      <th>name</th>
      <th>user name</th>
    </tr>
    <tr>
      <th>
        introduction
      </th>
      <th></th>
    </tr>
  </tbody>
<titile>New book</titile>

<%= form_with model: @book do |f| %>
<div class="field">
  <%= f.text_field :title %>
</div>
<div class="field">
  <%= f.text_area :Opnion %>
</div>
  <%= f.submit 'Create Book' %>
<% end %>
