@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.shadow-sm {
  background-color: #343a40;
  color: white;
}

.actions {
  text-align: center;
}

.text-white {
  display: inline-block;
}

